*.out
/*/*.out
*.zip
/*/*.zip
/exercicio-2/target/
/proj1/target/
/sistema/target/
/exercicio-3/academico/target/
/exercicio-3/Pokemon/target/
/exerxicio5/target/
/exercicio6/target/
/exercicio7/target/
/exercicio8/target/
/exercicio9/heranca/target/
/exercicio9/monstros/target/
